/* variables */
:root {
  --bc-warning: mistyrose;
  --bc-protip: #cff4fc;
  --bc-note: #dff5b3;
  --bc-example: #FFFACD;
  --bc-exercise: #ffd7b5;
  --bc-code: #fafafa;
  --c-boxdark: #2a4960;
  --c-boxlink: #7dc2d6;
  --c-announce: #ff3870;
  --c-warning: #e84b4b;
  --c-protip: #5790c4;
  --c-note: #1bba6e;
  --c-example: #ffbb00;
  --c-exercise: #EC8000;
  --b-darkgray: #898c8f;
}

/* resource wide*/
.no-decoration {text-decoration: none !important;}
.italic {font-style: italic !important;}

.mb {margin-bottom: 0.6em; display: block;}
.mt {margin-top: 0.8em; display: block;}
.c-warning {color: var(--c-warning);}

.pros::before, .cons::before {
  font-size: 1.1em;
  font-weight: 600;
  margin-right: 0.5em;
}
.pros::before {content: "✓"; color: #66cb5e;}
.cons::before {content: "✗"; color: #df0010;}
p.pros, p.cons {margin-bottom: 0;}

.warning, .protip, .note {font-style: italic;}
.warning, .protip, .note, .example, .exercise {
  margin: 0.5em 0 1.5em 0;
  padding: 0.8em 1em;
  font-size: 0.8em;
  color: var(--c-boxdark);
}
.warning {background-color: var(--bc-warning);}
.protip {background-color: var(--bc-protip);}
.note {background-color: var(--bc-note);}
.example {background-color: var(--bc-example);}
.exercise {background-color: var(--bc-exercise);}

.warning::before, .protip::before, .note::before, .example::before, .exercise::before {
  font-weight: bold;
  font-style: normal !important;
  font-size: 1.1em;
  display: block;
  margin-bottom: 0.2em;
  margin-top: -0.2em;
}
.warning::before {content: "WARNING"; color: var(--c-warning);}
.protip::before {content: "PRO TIP"; color: var(--c-protip);}
.note::before {content: "NOTE"; color: var(--c-note);}
.example::before {content: "EXAMPLE"; color: var(--c-example);}
.exercise::before {content: "EXERCISE"; color: var(--c-exercise);}

.warning p, .protip p, .note p, .example p, .exercise p {margin-block-end: 0em !important;}
.warning ul, .protip ul, .note ul, .example ul, .exercise ul {margin-block-start: 0.1em; margin-block-end: 0em !important;}
.warning a, .protip a, .note a, .example a, .exercise a {color: var(--c-boxlink) !important;}

.warning .highlighter-rouge, .protip .highlighter-rouge, .note .highlighter-rouge,
.example .highlighter-rouge, .exercise .highlighter-rouge {
  margin-bottom: 0.2em !important;
  margin-top: 0.4em !important;
  font-style: normal !important;
  font-size: 0.8em !important;
}
.warning pre.highlight, .protip pre.highlight, .note pre.highlight,
.example pre.highlight, .exercise pre.highlight {padding: 0.3em 0.8em !important; font-size: 1.1em !important;}


/* Code settings */
.code-inline {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-style: normal !important;
  font-size: .8em;
  background: #fafafa;
  border-radius: 4px;
  padding: 0.1rem 0.3rem;
}

.code-block {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: .8em;
  margin: 0;
  padding: 1em 1em;
  background-color: #f8f8f8;
}

pre {
  position: relative;
}

.code-btn {
  position: absolute;
  top: 0.2em;
  right: -0.5em;
  z-index: 10;
  font-size: 0.7em;
  color: var(--b-darkgray);
  border: 1px solid var(--b-darkgray);
}

.user-alert {
  position: absolute;
  right: 3em;
  top: 0;
  z-index: 10;
  background: var(--c-boxdark);
  color: #e4f0f0;
  padding: 0.1em 0.4em;
  border-radius: 4px;
  font-size: 0.8em;
}


/* indentation settings */
.li-level-1 {
  margin-left: 2.8em;
  padding: 1em 1em;
}

.li-level-2 {
  margin-left: 2.8em;
  padding: 1em 0;
}


/* resource-wide: styles for custom target links */
.wrapper {
  margin-bottom: 0 !important;
  display: inline !important;;
}
.wrapper-link {
  display: inline !important;
}
.inline {display: inline !important;}

.target-link {
  text-decoration: none !important;
}
/*.target-link::before {
  content: "\00a0";
}
.target-link::after {
  content: "\00a0";
}*/
.target-link-btn {
  background-color: #e7e7e7;
  color: black;
}


/* collection-wide: linked path to the root of the section (at the top of each tutorial) */
.page-sourcing {
  font-size: 0.8em !important;
}

/* collection-wide: semi-transparent button in the right corner of the footer with tutorial order number */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

#copyOrderBtn {
  font-size: 0.6em;
  color: #e8e9e8;
  border: 1px solid #e8e9e8;
  background-color: transparent;
  padding: 0 10px;
}


/* _pages: sitemap */
.toc-type {
  text-decoration: none !important;
  text-transform: uppercase !important;
  background-color: #dff5b3;
  color: #19272f;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  width: 130px;
  padding: 5px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(137, 151, 193);
  display: inline-block;
}

toc-note {
  color: #a9bbd1;
  text-decoration: italic;
}

.intro {background-color: #cff4fc;}
.article {background-color: #cff4fc;}
.exercise {background-color: #ffd7b5;}
.tutorial {background-color: #dff5b3;}
.cheatsheet {background-color: #FFFACD;}

.prefix-0 {
  font-weight: 750;
  font-size: 1.5em;
  color: #8997c1;
}
.prefix-1::before {content: "";}
.prefix-1 {
  font-weight: 750;
  color: #24376b;
}
.prefix-2::before {content: "⦿ \00a0\00a0\00a0";}
.prefix-2 {
  color: #3f5a8a;
}
.prefix-3::before {content: "⦾ \00a0\00a0\00a0";}
.prefix-3 {
  margin-left: 32px;
  color: #3f5a8a;
}
.prefix-4::before {content: "⊙ \00a0\00a0\00a0";}
.prefix-4 {
  margin-left: 64px;
  color: #3f5a8a;
}

.collapsible {
  background-color: #e8e9e8;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 3px;
}

.active, .collapsible:hover {
  background-color: #f1f1f1;
  color: #52adc8;
}

.content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
}

.collapsible a:visited {
  color: #52adc8;
}
.content a:visited {
  color: #52adc8;
}
