.no-decoration {
  text-decoration: none !important;
}

.toc-type {
  text-decoration: none !important;
  text-transform: uppercase !important;
  background-color: #dff5b3;
  color: #19272f;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  width: 130px;
  padding: 5px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(137, 151, 193);
  display: inline-block;
}

toc-note {
  color: #a9bbd1;
  text-decoration: italic;
}

.intro {background-color: #cff4fc;}
.article {background-color: #cff4fc;}
.exercise {background-color: #ffd7b5;}
.tutorial {background-color: #dff5b3;}
.cheatsheet {background-color: #FFFACD;}


.prefix-0 {
  font-weight: 750;
  font-size: 1.5em;
  color: #8997c1;
}
.prefix-1::before {content: "";}
.prefix-1 {
  font-weight: 750;
  color: #24376b;
}
.prefix-2::before {content: "⦿ \00a0\00a0\00a0";}
.prefix-2 {
  color: #3f5a8a;
}
.prefix-3::before {content: "⦾ \00a0\00a0\00a0";}
.prefix-3 {
  margin-left: 32px;
  color: #3f5a8a;
}
.prefix-4::before {content: "⊙ \00a0\00a0\00a0";}
.prefix-4 {
  margin-left: 64px;
  color: #3f5a8a;
}


.collapsible {
  background-color: #e8e9e8;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 3px;
}

.active, .collapsible:hover {
  background-color: #f1f1f1;
  color: #52adc8;
}

.content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
}

.collapsible a:visited {
  color: #52adc8;
}
.content a:visited {
  color: #52adc8;
}

/* collection-wide: linked path to the root of the section (at the top of each tutorial) */
.page-sourcing {
  font-size: 0.8em !important;
}

/* resource-wide: styles for custom target links */
.wrapper {
  margin-bottom: 0 !important;
  display: inline !important;;
}
.wrapper-link {
  display: inline !important;
}

.target-link {
  text-decoration: none !important;
}
.target-link::before {
  content: "\00a0";
}
.target-link::after {
  content: "\00a0";
}
.target-link-btn {
  background-color: #e7e7e7;
  color: black;
}


/* collection-wide: semi-transparent button in the right corner of the footer with tutorial order number */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

#copyOrderBtn {
  font-size: 0.6em;
  color: #e8e9e8;
  border: 1px solid #e8e9e8;
  background-color: transparent;
  padding: 0 10px;
}

.code-inline {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  padding: 0.1rem 0.3rem;
  font-size: .75em;
  background: #fafafa;
  border-radius: 4px;
}

.code-block {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: .75em;
  margin: 0;
  padding: 1em 1em;
  background-color: #f8f8f8;
}

.li-level-1 {
  margin-left: 2.8em;
  padding: 1em 1em;
}

.li-level-2 {
  margin-left: 2.8em;
  padding: 1em 0;
}
