/* variables */
:root {
  --bc-warning: mistyrose;
  --bc-protip: #cff4fc;
  --bc-note: #dff5b3;
  --bc-example: #FFFACD;
  --bc-exercise: #ffd7b5;
  --bc-code: #f7f7f7;
  --bc-data: #e3edee;
  --bc-template: #d9d9e3;
  --c-text: #494e52;
  --c-gray: #c2c6d3;
  --c-boxdark: #2a4960;
  --c-boxlink: #52adc8; /*#7dc2d6;*/
  --c-required: #8744db; /*#ab68ff;*/
  --c-alert: #ff3870;
  --c-warning: #e84b4b;
  --c-protip: #5790c4;
  --c-note: #0ba37f; /*#1bba6e;*/
  --c-example: #ffbb00;
  --c-exercise: #EC8000;
  --c-header: #8896c1;
  --c-pros: #66cb5e;
  --b-darkgray: #898c8f;
}

/* pre-defined font colors */
.c-white {color: rgb(253, 253, 253) !important;}
.c-text {color: var(--c-text) !important;}
.c-header {color: var(--c-header) !important;}
.c-gray {color: var(--c-gray) !important;}
.c-pros {color: var(--c-pros) !important;}
.c-good {color: var(--c-note) !important;}
.c-bad {color: var(--c-warning) !important;}
.c-alert {color: var(--c-alert) !important;}
.c-required {color: var(--c-required) !important;}
.c-exercise {color: var(--c-exercise) !important;}
.c-example {color: var(--c-example) !important;}

/* pre-defined bg colors, including custom <details> */
.bc-warning {--bg-color: var(--bc-warning); background-color: var(--bc-warning) !important; color: var(--c-boxdark);}
.bc-protip {--bg-color: var(--bc-protip); background-color: var(--bc-protip) !important; color: var(--c-boxdark);}
.bc-note {--bg-color: var(--bc-note); background-color: var(--bc-note) !important; color: var(--c-boxdark);}
.bc-example {--bg-color: var(--bc-example); background-color: var(--bc-example) !important; color: var(--c-boxdark);}
.bc-exercise {--bg-color: var(--bc-exercise); background-color: var(--bc-exercise) !important; color: var(--c-boxdark);}
.bc-code {--bg-color: var(--bc-code); background-color: var(--bc-code) !important; color: var(--c-boxdark);}
.bc-data {--bg-color: var(--bc-data); background-color: var(--bc-data) !important; color: var(--c-boxdark);}
.bc-template {--bg-color: var(--bc-template); background-color: var(--bc-template) !important; color: var(--c-boxdark);}
.bc-output {--bg-color: var(--c-boxdark); background-color: var(--c-boxdark) !important; color: var(--bc-data);}
.bc-white {background-color: rgb(253, 253, 253) !important;}

div.bc-warning, div.bc-protip, div.bc-note, div.bc-example, div.bc-exercise,
div.bc-code, div.bc-data, div.bc-template, div.bc-output {padding: 0.4em 0.8em;}
pre.bc-warning, pre.bc-protip, pre.bc-note, pre.bc-example, pre.bc-exercise,
pre.bc-code, pre.bc-data, pre.bc-template, pre.bc-output {padding: 0.4em 0.8em; font-size: 0.8em;}

/* resource wide*/

h1:not(#page-title)::before {
  content: "";
  display: block;
  border-top: 1px dashed #ddd;
  width: 85%;
  margin: 1.2em auto;
}
h3 {font-size: 1.2em; font-style: italic; font-weight: 600;}
h4 {font-size: 1em; font-weight: 500; letter-spacing: 0.1em;}

.btn {
  border: 1px solid var(--b-darkgray) !important;
  padding: 0.5em 0.5em !important;
  margin: 0 0.05em !important;
  background-color: var(--bc-code);
  color: var(--c-boxdark);
  font-weight: 600;
  font-size: 0.6em;
  letter-spacing: 0.15em;
}

.inline {display: inline !important; max-width: 100%;}
.flex {display: inline-flex; margin-right: 0.6em;}
.flex h3 {margin-block-start: 0.5em;}
.row {display: flex;}
.col-6 {width: 50%;}
.w-1 {width: 100% !important;}

.no-border {border: none;}
.bl {border-left: 1px solid var(--c-gray);}

.pa-s {padding: 0.1em 0.2em !important;}
.pa-m {padding: 0.3em 0.6em !important;}
.pl-0 {padding-left:0;}
.pr-2 {padding-right: 2em;}
.pl-2 {padding-left: 2em;}
.pl-d {padding-left: 1.6em;}

.mb {margin-bottom: 0.6em !important; display: block;}
.mt {margin-top: 1.5em !important; display: block;}
.mt- {margin-top: -0.8em !important;}
.mb- {margin-bottom: -0.8em !important;}
.mt-0 {margin-top: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.mr {margin-right: 1em !important;}
.ml {margin-left: 1em !important;}

.no-decoration {text-decoration: none !important;}
.plain {font-style: normal !important;}
.italic {font-style: italic !important;}
.bold {font-weight: bold !important;}
.font-1 {font-size: 1em !important;}
.font-1r {font-size: 1rem !important;}
.center-h {text-align: center !important;}
.vam {vertical-align: middle;}

.pros::before, .cons::before {
  font-size: 1.1em;
  font-weight: 600;
  margin-right: 0.5em;
}
.pros::before {content: "✓"; color: var(--c-pros); /*#66cb5e;*/}
.cons::before {content: "✗"; color: var(--c-warning);}
p.pros, p.cons {margin-bottom: 0;}


.warning, .protip, .note, .more, .footnote {font-style: italic;}
.warning, .protip, .note, .example, .exercise, .more, .required, .footnote {
  margin: 0.5em 0 1.5em 0;
  padding: 0.8em 1em;
  font-size: 0.8em;
  font-weight: normal;
  color: var(--c-boxdark);
}
.footnote {
  color: var(--c-gray);
  font-weight: 250;
  font-size: 0.8em !important;
  padding: 0 1em !important;
  margin-bottom: 1.2em !important;
}

.warning {background-color: var(--bc-warning); --link-color: var(--c-boxlink);}
.protip {background-color: var(--bc-protip); --link-color: #35aeff;}
.note {background-color: var(--bc-note); --link-color: var(--c-boxlink);}
.example {background-color: var(--bc-example); --link-color: var(--c-boxlink);}
.exercise {background-color: var(--bc-exercise); --link-color: #35aeff;}
.output {background-color: var(--c-boxdark); color: var(--bc-data) !important; padding: 0.4em 1em 0.6em 1em; font-size: 0.7em;}
.more {background-color: rgb(251, 250, 250); border: 1px solid var(--c-alert); --link-color: var(--c-alert);}
.required {background-color: rgb(251, 250, 253); border: 1px solid var(--c-required); --link-color:  var(--c-required);}

.warning::before, .protip::before, .note::before, .example::before, .exercise::before, .more::before, .required::before {
  font-weight: bold;
  font-style: normal !important;
  font-size: 1.1em;
  display: block;
  margin-bottom: 0.2em;
  margin-top: -0.2em;
}
.warning::before {content: var(--custom-before, "WARNING"); color: var(--c-warning);}
.protip::before {content: var(--custom-before, "PRO TIP"); color: var(--c-protip);}
.note::before {content: var(--custom-before, "NOTE"); color: var(--c-note);}
.example::before {content: var(--custom-before, "EXAMPLE"); color: var(--c-example);}
.exercise::before {content: var(--custom-before, "EXERCISE"); color: var(--c-exercise);}
.output::before {content: var(--custom-before, "EXPECTED OUTPUT"); color: var(--c-gray); font-size: 0.9em !important; position: absolute; top: 0.4em; right: 1em;}
.more::before {content: var(--custom-before, "LEARN MORE"); color: var(--c-alert); font-size: 1em !important;}
.required::before {content: var(--custom-before, "REQUIRED"); color: var(--c-required); font-size: 1em !important;}

.warning p, .protip p, .note p, .example p, .exercise p, .more p, .required p {margin-block-end: 0em !important;}
.warning a, .protip a, .note a, .example a, .exercise a, .more a, .required a {color: var(--link-color) !important;}
.warning ul, .protip ul, .note ul, .example ul, .exercise ul, .more ul , .required ul {margin-block-start: 0.1em; margin-block-end: 0em !important;}
.warning ol, .protip ol, .note ol, .example ol, .exercise ol, .more ol, .required ol {margin-block-start: 0.25em; margin-block-end: 0em !important;}
.warning table, .protip table, .note table, .example table, .exercise table, .more table, .required table {font-size: 0.9em !important; font-style: normal !important;}

div.protip a:hover {color: #1a86ce !important;}

.warning .highlighter-rouge, .protip .highlighter-rouge, .note .highlighter-rouge, .example .highlighter-rouge,
.exercise .highlighter-rouge, .more .highlighter-rouge, .required .highlighter-rouge, .footnote .highlighter-rouge {
/*  margin-bottom: 0.2em !important;*/
  margin-top: 0.4em !important;
  font-style: normal !important;
  font-size: 0.8em !important;
  color: var(--c-boxdark) !important;
}
div.highlighter-rouge {margin-bottom: 0.8em;}

.warning pre.highlight, .protip pre.highlight, .note pre.highlight, .example pre.highlight,
.exercise pre.highlight, .more pre.highlight, .required pre.highlight {padding: 0.3em 0.8em !important; font-size: 1.1em !important;}

.warning.btn, .protip.btn, .note.btn, .example.btn, .exercise.btn, .more.btn, .required.btn {
  padding: 0.8em 0.8em 0.3em 0.8em !important;
  border: none !important;
  font-size: 0.6em;
}
.more.btn {
  padding-top: 0.7em !important;
  border: 1px solid var(--c-alert) !important;
}
.required.btn {
  padding-top: 0.7em !important;
  border: 1px solid var(--c-required) !important;
}

/* sticky table of contents when scroling */

.page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.page__inner-wrap {
  flex-grow: 1;
}

.sidebar__right {
  flex-basis: 300px;
  width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  align-self: flex-start;
  max-height: 85vh;
  overflow-y: auto;
}

.toc .btn {font-size: 1em;}
.toc .btn::before {font-size: 0.9em !important;}
.toc .spc {
    width: 100%;
    text-align: left;
    padding-left: 1.35em !important;
    color: #898c8f;
}


/* Code settings */
.code-inline {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-style: normal !important;
  font-size: .8em;
  background: #fafafa;
  border-radius: 4px;
  padding: 0.1rem 0.3rem;
}


pre {
  position: relative;
  margin-top: 0;
}

.code-btn {
  position: absolute;
  padding-top: 0;
  padding-bottom: 2px;
  z-index: 10;
  font-size: 0.65em;
  color: var(--b-darkgray);
  border: 1px solid var(--b-darkgray);
}

.user-alert {
  position: absolute;
  right: 3em;
  top: 0;
  z-index: 10;
  background: var(--c-boxdark);
  color: #e4f0f0;
  padding: 0.1em 0.4em;
  border-radius: 4px;
  font-size: 0.8em;
}


/* indentation settings */
.level-1 {margin-left: 2.3em !important;}
.level-2 {margin-left: 4.5em !important;}
.level-3 {margin-left: 6.8em !important;}

.li-level-1 {
  margin-left: 2.8em;
  padding: 1em 1em;
}

.li-level-2 {
  margin-left: 2.8em;
  padding: 1em 0;
}


/* resource-wide: styles for custom target links */

.t-links {
  text-decoration: none !important;
}
.t-links:hover {
  text-decoration: underline !important;
  color: var(--c-boxlink);
}


/* collection-wide: linked path to the root of the section (at the top of each tutorial) */
.page-sourcing {
  font-size: 0.8em !important;
}

/* collection-wide: semi-transparent button in the right corner of the footer with tutorial order number */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

#copyOrderBtn {
  font-size: 0.6em;
  color: #e8e9e8;
  border: 1px solid #e8e9e8;
  background-color: transparent;
  padding: 0 10px;
}


/* _pages: sitemap */
.toc-type {
  text-decoration: none !important;
  text-transform: uppercase !important;
  background-color: #dff5b3;
  color: #19272f;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  width: 130px;
  padding: 5px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(137, 151, 193);
  display: inline-block;
}

toc-note {
  color: #a9bbd1;
  text-decoration: italic;
}

.intro {background-color: #cff4fc;}
.article {background-color: #cff4fc;}
.exercise {background-color: #ffd7b5;}
.tutorial {background-color: #dff5b3;}
.cheatsheet {background-color: #FFFACD;}

.prefix-0 {
  font-weight: 750;
  font-size: 1.5em;
  color: #8997c1;
}
.prefix-1::before {content: "";}
.prefix-1 {font-weight: 750;}
.prefix-2::before {content: "⦿ \00a0\00a0\00a0";}
.prefix-2 {font-style: normal;}
.prefix-3::before {content: "⦾ \00a0\00a0\00a0";}
.prefix-3 {margin-left: 32px;}
.prefix-4::before {content: "⊙ \00a0\00a0\00a0";}
.prefix-4 {margin-left: 64px;}

.prompt-1::before {content: var(--custom-before, ">>>  "); color: var(--c-gray);}
.prompt-2::before {content: var(--custom-before, "...  "); color: var(--c-gray);}
.prompt-3::before {content: var(--custom-before, "$:  "); color: var(--c-pros);}
.prompt-4::before {content: var(--custom-before, "!:  "); color: var(--c-exercise);}

.collapsible-content .prefix-2, .collapsible-content .prefix-3, .collapsible-content .prefix-4 {color: #3f5a8a;}
.collapsible-content .prefix-2 a, .collapsible-content .prefix-3 a, .collapsible-content .prefix-4 a {color: #3f5a8a !important;}
.collapsible-content .prefix-2 a:visited, .collapsible-content .prefix-3 a:visited, .collapsible-content .prefix-4 a:visited {color: rgba(63, 90, 138, 0.5) !important;}
.collapsible-content .prefix-1, .collapsible-content .prefix-1 a, .collapsible-content .prefix-1 a:visited {color: #24376b !important;}
.collapsible-content .prefix-0, .collapsible-content .prefix-0 a, .collapsible-content .prefix-0 a:visited {color: #8997c1 !important;}
#further-reading .prefix-2, #further-reading .prefix-3, #further-reading .prefix-4 {color: #3f5a8a;}
#further-reading .prefix-1 {color: #24376b;}
#further-reading .prefix-0 {color: #8997c1;}

.collapsible {
  background-color: #e8e9e8;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 3px;
}

.active, .collapsible:hover {
  background-color: #f1f1f1;
  color: #52adc8;
}

.content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
}

/*.collapsible a:visited {
  color: #52adc8;
}
.content a:visited {
  color: #52adc8;
}*/


/* custom collapsible <details> */
summary {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.15em 0.3em 0.1em 0.3em;
  background-color: var(--bg-color);
}
summary::before {
  content: '▶ ';
  display: inline-block;
  margin: -0.15em 0.5em -0.1em -0.3em;
  padding: 0.2em 0 0 0.3em;
  transition: transform 0.2s;
}
summary::after {
  content: "";
  flex-grow: 1;
  background-color: var(--parent-color, white);
  margin: -0.15em -1.3em -0.1em 2em;
}
details {
  margin-bottom: 0.3em;
  background-color: var(--bg-color);
}
details[open] > summary {margin-bottom: 0.3em;}
details[open] > summary::before {transform: rotate(90deg);}
details[open].l-frame {border-left: 1px solid var(--c-header); padding-left: 0.8em;}

summary::-webkit-details-marker {display: none;}   /* important in Safari */


.details-save {
  margin-left: 1em !important;
  margin-top: -0.1em !important;
}
.details-save::before {content: "Download"}

/* custom <table> */

table {
  margin: 0.5em 0 1rem 0;
}

th, thead {
  background-color: var(--bc-code);
  border-bottom: 2px solid var(--c-gray);
  text-transform: uppercase;
  font-style: italic;
  color: #9a9faf;
}

td {
  border-bottom: 1px solid var(--c-gray);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 1.2em;
}
